<section class="place section" id="madronos">
    <h2 class="footer__title"> <i class="uil uil-edit"></i> Administración de plantas <i class="uil uil-edit"></i></h2>

    <div class="place__container container grid">

        {{#each madronos}}

        <!--==================== PLACES CARD 1 ====================-->
        <div class="place__card">
            <img src="/img/1{{especie}}.jpg" alt="" class="place__img">

            <div class="place__content">
                <a href="/madronos/edit/{{_id}}">
                    <span class="place__rating place__rating-icon">
                        <i class="ri-pencil-fill"></i><!-- services__icon -->
                    </span>
                </a>

                <div class="place__data">
                    <h3 class="place__title">{{especie}}</h3>
                    <br><br>
                </div>
            </div>


            <form action="/madronos/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">

            
                    <div class="services__modal">
                        <div class="services__modal-content">
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <p>¿Seguro que desea eliminar este dato?</p>
                                </li>
                                <li class="services__modal-service">
                                    <button class="button button--flex button--link button--small ">
                                        <i class="uil uil-check services__modal-icon"></i>
                                        <span class="">Sí </span>
                                    </button>
                                </li>
                                <li class="services__modal-service">
                                    <span class="button button--flex button--link button--small  services__close servicesbn">
                                        <i class="uil uil-times services__modal-icon services__modal-close"></i>
                                        
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                

                <span class="button button--flex place__button services__button">
                    <span class="">Eliminar </span>
                    <i class="ri-delete-bin-fill"></i>
                </span>
            </form>
        </div>

        {{/each}}


    </div>
</section>