<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Neucha&display=swap" rel="stylesheet">
<section class="subscribe section" id="login">
    <div class="subscribe__bg">
        <div class="subscribe__container container">
            <h2 class="footer__title">Nuevo Madroño</h2>

            <form class="subscribe__form" action="/madronos/newmadronot2" method="POST">

                <div class="subscribe__content">
                    <strong class="subscribe__label">NOMBRE:</strong>
                    <input type="text" name="especie" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">ESTADO:</strong>
                    <input type="text" name="estados" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">HÁBITO:</strong>
                    <input type="text" name="habito" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">PECÍOLOS Y RAMILLAS:</strong>
                    <input type="text" name="peciolos_y_ramillas" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">HOJAS (DURACIÓN Y TEXTURA):</strong>
                    <input type="text" name="hojas_duración_y_textura" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">HOLAS (LAS MÁS ANCHAS):</strong>
                    <input type="text" name="hojas_las_más_anchas" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">HOJAS, MARGEN:</strong>
                    <input type="text" name="hojas_margen" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">HOJAS, ENVÉS:</strong>
                    <input type="text" name="hojas_enves" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">INFLORESCENCIA:</strong>
                    <input type="text" name="inflorescencia" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong class="subscribe__label">FLORES:</strong>
                    <input type="text" name="flores" class="subscribe__input" required>
                </div>

                <button class="subscribe__button button">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</section>