<section class="subscribe section" id="login">
    <div class="subscribe__bg">
        <div class="subscribe__container container">
            <h2 class="section__title subscribe__title">Nuevo Madroño</h2>

            <form class="subscribe__form" action="/madronos/newmadronot1" method="POST">

                <div class="subscribe__content">
                    <strong class="subscribe__label">NOMBRE:</strong>
                    <input type="text" name="especie" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong>ESTADO:</strong>
                    <input type="text" name="estados" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong>HABITO:</strong>
                    <input type="text" name="habito" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong>CORTEZA ALTA:</strong>
                    <input type="text" name="corteza_de_la_parte_alta_del_tronco_y_ramas_principales" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong>CORTEZA RAMAS:</strong>
                    <input type="text" name="corteza_de_ramillas" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong>PECÍOLOS:</strong>
                    <input type="text" name="peciolos" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong>HOJAS, ENVES:</strong>
                    <input type="text" name="hojas_enves" class="subscribe__input" required>
                </div>

                <div class="subscribe__content">
                    <strong>FLORES:</strong>
                    <input type="text" name="flores" class="subscribe__input" required>
                </div>

                <button class="subscribe__button button">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</section>