<section class="tip section" id="tipo">
    <h2 class="section__title">Agregar Nuevo</h2>
    <span class="section__subtitle">Selecciona tipo</span>

    <div class="tip__container container grid">

        <div class="tip__information">
            <a href="/madrono/addt1" class="button button--flex">
                <i class="uil uil-dice-one tip__icon"></i>

                <div>
                    <h3 class="tip__title">Arbutus</h3>
                    <span class="tip__subtitle">Agregar</span>
                </div>
            </a>
        </div>

        <div class="tip__information">
            <a href="/madrono/addt2" class="button button--flex">
                <i class="uil uil-dice-two tip__icon"></i>

                <div>
                    <h3 class="tip__title">Comarostaphylis</h3>
                    <span class="tip__subtitle">Agregar</span>
                </div>
            </a>
        </div>

    </div>
</section>