<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Neucha&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<section class="tip section" id="tipo">
    <h2 class="footer__title"><i class="uil uil-file-plus"></i> Agregar Nuevo <i class="uil uil-file-plus"></i></h2>
    <span class="footer__linkss">Selecciona tipo</span>

    <div class="tip__container container grid"> 

        <div class="tip__information">
            <a href="/madrono/addt1" class="button button--flex">
                <i class="uil uil-dice-one tip__icon"></i>

                <div>
                    <h3 class="footer__titlee">Arbutus</h3>
                    <span class="footer__links">Agregar</span>
                </div>
            </a>
        </div>

        <div class="tip__information">
            <a href="/madrono/addt2" class="button button--flex">
                <i class="uil uil-dice-two tip__icon"></i>

                <div>
                    <h3 class="footer__titlee">Comarostaphylis</h3>
                    <span class="footer__links">Agregar</span>
                </div>
            </a>
        </div>

    </div>
</section>