<!--==================== GLOSARIO ====================-->
<section class="services section" id="glosario">
    <h2 class="section__title">Glosario</h2>
    <span class="section__subtitle">Resolviendo dudas</span>

    <div class="services__container container grid">
        <!--==================== GLOSARIO 1 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Hábito</h3>
            </div>

            <span class="button sbutton--flex button--small button--link services__button">
                Ver más
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p> Forma general de la planta</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 2 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Árbol</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                Ver más
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Un solo tronco desde la base.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 3 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Arbusto</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                Ver más
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Ramifica desde la base, puede formar manchones.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 4 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Rebrote</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Puede confundirse con un arbusto, sin embargo las ramas nuevas surgen de un tocon.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 5 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Ramas</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición: Ramas Principales</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Las que salen directamente del tronco.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Ramillas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p> Son las ramillas delgadas, pueden tener corteza exfoliante o persistente.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 6 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Corteza</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición: Corteza Exofilante</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>La que se cae en laminas o laminillas delgadas, dejando una superficie lisa expuesta.</p>
                        </li>
                    </ul> <br> <br>
                    
                    <h4 class="services__modal-title">Definición: Corteza persistente</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Leñosa, gris, no se cae</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 7 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Precíolos</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>las estructuras que soportan a la lámina foliar (hoja).</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 8 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Hoja</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición: Hoja</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p> Lamina verde y el peciolo que la sostiene.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Envés</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Superficie inferior de la lámina.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Haz</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Superficie superior de la lámina.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 9 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Textura de las hojas</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición: Textura de las hojas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Consistencia de lámina foliar.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Hojas herbáceas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>De consistencia delgada, flexible.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Hojas coriáceas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>De consistencia como cuero, poco flexible.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Hojas subcoriáceas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Consistencia intermedia entre herbácea y coriácea.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 10 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Duración de las hojas</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición: Duración de las hojas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Clasificación de acuerdo al tiempo que permanezca la lámina en la planta.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Hojas deciduas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p> Caen en la temporada seca, son de texturas delgadas, herbaceas. </p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Hojas Persistentes</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Permanecen por dos o mas años sobre la planta, de textura gruesa, como cuero (coriaceas)
                                o subcoriaceas.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

        <!--==================== GLOSARIO 11 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Margen de la hoja</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Hojas con margen entero o ondulado o con pocos dientes.</p>
                        </li>
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Hojas con margen aserrado o dentado.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 12 ====================-->
        <div class="services__content">
            <div>
                <h3 class="services__title">Flores</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición:</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Estructura que contiene los órganos reproductivos de la planta.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--==================== GLOSARIO 13 ====================-->
        <div class="services__content">
            <div>

                <h3 class="services__title">Inflorescencia</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición: Inflorescencia</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Disposicion de las flores sobre las ramas.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Flores urceoladas</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>En forma de jarrito..</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!--==================== GLOSARIO 14 ====================-->
        <div class="services__content">
            <div>

                <h3 class="services__title">Frutos</h3>
            </div>

            <span class="button button--flex button--small button--link services__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title">Definición: Frutos</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Órgano procedente de la flor, que contiene las semillas de la planta.</p>
                        </li>
                    </ul> <br> <br>
                    <h4 class="services__modal-title">Definición: Fruto papiloso</h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <li class="services__modal-service">
                            <i class="uil uil-check-circle services__modal-icon"></i>
                            <p>Con la superficie con prominencias o bultitos.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>