<!--==================== PROJECT IN MIND ====================-->
<section class="project section" id="nosotros">
    <h2 class="section__title">Nosotros</h2>
    <!--==================== PROJECT IN MIND ====================-->
    <div class="project__bg mision">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">OBJETIVO</h2>
                <p class="project__description">El objetivo del proyecto es diseñar y desarrollar un sistema que
                    permita la rápida identificación de los
                    madroños en México en base a sus claves politómicas con alta precisión.</p>
            </div>
            <img src="/img/objetivo.jpg" alt="" class="project__img">
        </div>
    </div>

    <!--==================== PROJECT IN MIND ====================-->
    <div class="project__bg vision">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">MISIÓN</h2>
                <p class="project__description">Hacer sentir a nuestras personas comodas navegando por esta pagina,
                    sin que les surgan dudas de como usarla, al contrario que sea facil y se lleven un grandioso
                    aprendizaje.</p>
            </div>
            <img src="/img/mision.jpg" alt="" class="project__img">
        </div>
    </div>

    <!--==================== PROJECT IN MIND ====================-->
    <div class="project__bg valores">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">VISIÓN</h2>
                <p class="project__description">Nuestra vision es que las personas obtengan conocimientos de los
                    madroños de cada estado y tambien mejorar la navegacion de la pagina con las sugerencias de las
                    personas que
                    la han dado uso.</p>
            </div>
            <img src="/img/vision.jpg" alt="" class="project__img">
        </div>
    </div>
</section>