<!--==================== PROJECT IN MIND ====================-->
<section class="project section" id="nosotros">
    <h2 class="footer__title"><i class="uil uil-meh-closed-eye"></i> Nosotros <i class="uil uil-meh-closed-eye"></i></h2>
    <!--==================== PROJECT IN MIND ====================-->
    <div class="project__bg mision">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="footeer__titlee">OBJETIVO  <i class="uil uil-medal"></i></h2>
                <p class="foooter__linksss">El objetivo del proyecto es diseñar y desarrollar un sistema que
                    permita la rápida identificación de los
                    madroños en México en base a sus claves politómicas con alta precisión.</p>
            </div>
            <img src="/img/objetivo.jpg" alt="" class="project__img">
            <hr>
        </div>
    
    </div>
     

    <!--==================== PROJECT IN MIND ====================-->
    <div class="project__bg vision">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="footeer__titlee">MISIÓN  <i class="uil uil-chart-line"></i></h2>
                <p class="foooter__linksss">Transmitir completa comodidad al navegar por la página,
                    sin que surgan dudas de cómo usarla, al contrario que sea fácil y se lleven el grandioso
                    aprendizaje.</p>
            </div>
            <img src="/img/mision.jpg" alt="" class="project__img">
             <hr>
        </div>
    </div>

    <!--==================== PROJECT IN MIND ====================-->
    <div class="project__bg valores">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="footeer__titlee">VISIÓN  <i class="uil uil-eye"></i></h2>
                <p class="foooter__linksss">Nuestra visión es que las personas obtengan conocimientos de las Ericáceas de cada estado
                    y que con ello ayude a todos para saber más de nuestro propi país.
                </p>
            </div>
            <img src="/img/vision.jpg" alt="" class="project__img">
             <hr>
        </div>
    </div>
</section>