<section class="tip section" id="tipo">
    <h2 class="footer__title"><i class="uil uil-search-alt"></i> ¿Qué desea buscar? <i class="uil uil-search-alt"></i></h2>
    <span class="footer__linkss">Selecciona tipo</span>

    <div class="tip__container container grid">

        <div class="tip__information">
            <a href="/datos1" class="button button--flex">
                <i class="uil uil-dice-one tip__icon"></i>

                <div>
                    <h3 class="footer__titlee">Arbutus</h3>
                    <span class="footer__links">Buscar</span>
                </div>
            </a>
        </div>

        <div class="tip__information">
            <a href="/datos2" class="button button--flex">
                <i class="uil uil-dice-two tip__icon"></i>

                <div>
                    <h3 class="footer__titlee">Comarostaphylis</h3>
                    <span class="footer__links">Buscar</span>
                </div>
            </a>
        </div>
    </div>
</section>