<section class="tip section" id="tipo">
    <h2 class="section__title">¿Que desea buscar?</h2>
    <span class="section__subtitle">Selecciona tipo</span>

    <div class="tip__container container grid">

        <div class="tip__information">
            <a href="/datos1" class="button button--flex">
                <i class="uil uil-dice-one tip__icon"></i>

                <div>
                    <h3 class="tip__title">Arbutus</h3>
                    <span class="tip__subtitle">Buscar</span>
                </div>
            </a>
        </div>

        <div class="tip__information">
            <a href="/datos2" class="button button--flex">
                <i class="uil uil-dice-two tip__icon"></i>

                <div>
                    <h3 class="tip__title">Comarostaphylis</h3>
                    <span class="tip__subtitle">Buscar</span>
                </div>
            </a>
        </div>
    </div>
</section>