<header class="header" id="header">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Neucha&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <nav class="nav container">
        <a href="#" class="footer__title">MicroInov</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="footer__linksss" href="/">Inicio</a></i>
                </li>
                <li class="nav__item">
                    <a class="footer__linksss" href="/nosotros">Nosotros</a>
                </li>
                <li class="nav__item">
                    <a class="footer__linksss" href="/tipodato">Plantas</a>
                </li>
                <li class="nav__item">
                    <a class="footer__linksss" href="/glosario">Glosario</a>
                </li>
                {{#if user}}
                <li class="nav__item dropdown">
                    <a class="footer__linksss" href="#" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Datos
                        <i class="uil uil-angle-down"></i>
                    </a>
                    <ul class="nav__list dropdown__menu" aria-labelledby="navbarDropdown">
                        <li class="footer__linksss"><a class="nav__link dropdown__item" href="/madronos">Todos los madroños</a></li>
                        <li class="nav__item">
                            <hr class="nav__link">
                        </li>
                        <li class="footer__linksss"><a class="nav__link dropdown__item" href="/madronos/tipo">Agregar nuevo</a></li>
                        <li class="nav__item">
                            <hr class="nav__link">
                        </li>
                        <li class="footer__linksss"><a class="nav__link dropdown__item" href="/users/logout">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="footer__linksss" href="/users/signup">Nuevo registro</a>
                </li>
                {{else}}
                <li class="nav__item">
                    <a class="footer__linksss" href="/users/signin">Iniciar sesión</a>
                </li>
                {{/if}}
            </ul>
            <div class="nav__dark">
                <!-- Theme change button -->
                <span class="change-theme-name">Dark mode</span>
                <i class="ri-moon-line change-theme" id="theme-button"></i>
            </div>

            <i class="ri-close-line nav__close" id="nav-close"></i>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-function-line"></i>
        </div>
    </nav>

</header>