<link href="https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Neucha&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<section class="subscribe section" id="login">
    <div class="subscribe__bg">
        <div class="subscribe__container container">
            <h2 class="footer__title">  <i class="uil uil-users-alt"></i>  Inicio sesi칩n    <i class="uil uil-users-alt"></i></h2>
            <p class="footer__linkss">Solo personal autorizado</p>

            <form class="subscribe__form" action="/users/signin" method="POST">
                <div class="subscribe__content">
                    <label for="" class="subscribe__label">Correo electr칩nico</label>
                    <input type="email" class="subscribe__input" name="email">
                </div>
                <div class="subscribe__content">
                    <label for="" class="subscribe__label">Contrase침a</label>
                    <input type="password" class="subscribe__input" name="password">
                </div>

                <button class="subscribe__button button">
                        Iniciar sesi칩n
                </button>
            </form>
        </div>
    </div>
</section>